<div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="aboutModalLabel">About h2talk</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5>Privacy</h5>
        <p>This site does not use cookies or tracking of any sort. Enjoy!</p>
        <h5>Legal</h5>
        <p>We are not affiliated with any vehicle manufacturer, fueling provider, or government agency. All product and company names are trademarks or registered trademarks of their respective holders. Use of them does not imply any affiliation with or endorsement by them.</p>
        <tiny><a href="https://github.com/h2talk/h2talk.github.io/blob/main/LICENSE">Site License</a></tiny>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>