{% extends 'base.html' %}

{% block title %}h2talk - {{name}}{% endblock %}

{% block navitems %}
<li class="nav-item">
  <a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/s">Stations</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/r">Regions</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/v">Vehicles</a>
</li>
{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item"><a href="/{{ subdir }}">{{ parent }}</a></li>
<li class="breadcrumb-item active" aria-current="page"><a href="#">{{ name }}</a></li>
{% endblock %}

{% block content %}
<div class="row justify-content-md-center mt-5">
  <div class="col-sm">
    <h1>Talk with fellow FCEV drivers about {{name}}</h1>
  </div>
</div>

<div class="row justify-content-md-center mt-5">
  <div class="col-sm">
    <button type="button" class="btn btn-lg btn-primary">
      Join <b>#{{ slug }}</b> on Discord
    </button>
  </div>
</div>

<div class="row justify-content-md-center mt-1">
  <div class="col-sm">
    {% include 'about-discord.html' %}
  </div>
</div>
{% endblock %}

