{% extends 'base.html' %}

{% block title %}h2talk{% endblock %}

{% block navitems %}
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/s">Stations</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/r">Regions</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/v">Vehicles</a>
</li>
{% endblock %}

{% block content %}
<div class="row justify-content-md-center mt-5">
  <div class="col-sm">
    <h1>Welcome to h2talk! &#x1f44b;</h1>
    <p>
      We are a community of Hydrogen fuel cell vehicle owners discussing fueling stations, FCEV vehicles, and more.
    </p>
  </div>
</div>

<div class="row justify-content-md-center mt-5">
  <div class="col-sm">
    <h2>
      <button type="button" class="btn btn-primary">
        Join us on Discord
      </button>
    </h2>
  </div>
</div>

{% include 'about-discord.html' %}

{% block listheader %}
<h2>Looking to chat about a specific fueling station?</h2>
<h3>Find your station here</h3>
{% endblock %}

{% include 'list.html' %}

{% endblock %}
